extends base

block content
    h1 Enter secret passcode

    p Clubhouse has a secret passcode. Enter it to get privileged user rights.

    form(action="" method="POST")
        input(type="password", name="secret" placeholder="secret passcode")
        button Enter passcode
